table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    text-align: center;
    border: 1px;
    width: 110%;
    background: #ffffff;
}
table thead {
    background: #6eb0d1;
}
table tbody tr:nth-child(even) {
    background: #f0f0f0;
}
A:visited {
    COLOR: #666666;
    TEXT-DECORATION: none;
}
A:link {
    COLOR: #666666;
    TEXT-DECORATION: none;
}
a:webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

